.killer
{
	display: inline-block;
    padding: 0 0 0.1em 0;
    border-bottom: 2px solid #f26414;
    text-align: center;
    font-family: impact;
    font-size: 25px

}

#header
{
	height: 50px;
	background-color: #F5F5F5;
	margin-bottom: 10px;
	border-radius: round
	
}


html
{
	background: url("http://images.techtimes.com/data/images/full/15869/ferguson.jpg") no-repeat center center fixed;
	text-align: center;
	background-size: cover;
	
}


h1
{
	font-family: "FranklinITCProThin", impact, arial;

}

p

{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    box-sizing: border-box;


}


.page-content

{
	font-size: 9em;
	font-weight: normal;
	font-family: arial; 
	padding: 0;
    margin: 0;
}

