.killer
{
	display: inline-block;
    padding: 0 0 0.1em 0;
    border-bottom: 2px solid #f26414;
    text-align: center;
    font-family: impact;
    font-size: 25px

}


html
{
	background-image: url("http://images.techtimes.com/data/images/full/15869/ferguson.jpg");
	text-align: center;
	background-size: cover;
}


h1
{
	font-family: "FranklinITCProThin", impact, arial;

}

.page-content

{
	font-size: 9em;
	font-weight: normal;
	font-family: arial; 
}
